<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<div th:fragment="mainProcess">
    <div class="jumbotron-white">
        <div class="container">
            <h3>Как проходит обучение у нас -
                эконки-картинки</h3>

            <h3>Как проходит обучение у нас -
                эконки-картинки</h3>

            <h3>Как проходит обучение у нас -
                эконки-картинки</h3>
        </div>
    </div>
</div>
</body>
</html>

